####################
## Ignore Everything
####################
/*

########
## Files
########
!/gradlew
!/gradlew.bat
!/build.gradle
!README
!.gitignore

##########
## Folders
##########
!/src
!/gradle

######
## Mac
######
.DS_Store
